#sendmsg {
    position: relative;
    vertical-align: baseline;
    top: -72px;
    z-index: 1;
}

#page,#sendmessage,#appcontrol {
    position: relative;

}
#showmessages{
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

}
#viewmsg {
  height: 70vh;
  z-index: 1;
}

#sendmsg{
    top: 70px;
    z-index: 1;
}
#sendmsg > a > i {
    font-size: 40px;
}

#login {
    padding: 10px;
}

#menuoptchat {

    position: relative;
    padding: 5px;
    margin:15px -20px 0 0;
    z-index: 2;
}



.imgmessage {

    width: 250px;
    z-index: 2;
}

.emojitxt {
    font-size:20px;
}

.chipmodified {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
    z-index: 15;
}

.chipmodified img {
    cursor: zoom-in;
    transition: transform 0.5s ease-in-out;
}
.chipmodified img:hover {
    transform: scale(.9);
}

.showimg {
    position: fixed;
    top: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.9);
    z-index: 10;
    text-align: center;
}

.showimg .show{
    cursor: zoom-out;
    max-width: 80%;
    max-height: 70%;
    /*margin-top: 10%;*/
}

.viewimg {

    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.progress{
  width: 90%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: -500px; right: 0;
}

.imgpreview{
    position: relative;
    max-width: 80%;
    max-height: 70%;
    margin-top:5%;
}

.click{
    cursor: pointer;
}

.nickuser {

    padding-right: 5px;
    margin-left: -10px;
    font-weight: bold;

}

.configicon {

    padding-bottom: 2px;
    vertical-align: middle;
    font-size: 20px;
}

.alignicon {

    padding-top:3px;
}

.iconus {
    min-width: 45px;
    width: auto;
}

.showdatemessage {

    padding-bottom: 2px;
    padding-right: 2px;
    vertical-align: middle;
    font-size: 13px;

}

.datemsg {
    margin-right: -12px;
    font-size: 10px;
}

.chipmodified.expand{
    height: auto;
}

.collection.spc > div {
    padding: 7px;
}

.animated {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
